<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Welcom</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="${messages}"></p>
	<div th:if="${register}">
		<h1 th:text="'Hello ' +  ${user.firstName} + ' ' + ${user.lastName}"></h1>
		<h3>Thank you for Registration</h3>
	</div>
	<div th:if="${update}">
		<h1 th:text="'Hello ' +  ${user.firstName} + ' ' + ${user.lastName}"></h1>
		<h3>Details Updated</h3>
	</div>
	<div th:if="${view}">
		<h3>Profile Detail</h3>
		<h1 th:text="'Hello ' +  ${user.firstName} + ' ' + ${user.lastName}"></h1>
		<h4>Address detail</h4>
		<h1 th:text="'AddressLine1' + ' : ' + ${user.addressLine1}"></h1>
		<h1 th:text="'AddressLine2' + ' : ' + ${user.addressLine2}"></h1>
		<h1 th:text="'City' + ' : ' + ${user.city}"></h1>
		<h1 th:text="'Country' + ' : ' + ${user.country}"></h1>
		<h1 th:text="'State' + ' : ' + ${user.state}"></h1>
		<h1 th:text="'Email' + ' : ' + ${user.email}"></h1>
		<h1 th:text="'PhoneNumber' + ' : ' + ${user.phoneNumber}"></h1>
		<h1 th:text="'Website' + ' : ' + ${user.website}"></h1>
	</div>
	<p>
		<a th:href="@{/viewProfile}">View Your Profile</a>
	</p>
	<p>
		<a th:href="@{/editProfile}">Edit Your Profile</a>
	</p>
	<a th:href="@{/welcome}">Back to home page</a>
</body>
</html>