<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Custom Logout Page</title>
</head>
<body>
	<p th:text="${messages}"></p>
	<h1>Welcome To Express Pro</h1>
	<h4>
		<a th:href="@{/userPost}">Your Posts</a>
	</h4>
	<h4>
		<a th:href="@{/userRegistration}">Register Here</a>
	</h4>
	<h6>
		<a th:href="@{/users/getUsers}">Get All Users</a>
	</h6>
	<h6>
		<a th:href="@{/login}">Login Here</a>
	</h6>
	<h6>
		<a th:href="@{/logout}">logout</a>
	</h6>
	<h6>
		<a th:href="@{/admin/adminPage}">Admin</a>
	</h6>
	<a th:href="@{/viewProfile}">View Your Profile</a>
</body>
</html>